[package]
name = "moonshine"
version = "0.7.0"
edition = "2021"

[dependencies]
async-shutdown = "0.2.2"
ashpd = "0.10"
clap = { version = "4.5.51", features = ["derive"] }
dirs = "6.0.0"
enet = "0.3.0"
gst = { package = "gstreamer", version = "0.23" }
gst-app = { package = "gstreamer-app", version = "0.23" }
gst-video = { package = "gstreamer-video", version = "0.23" }
hex = "0.4.3"
http-body-util = "0.1.3"
hyper = { version = "1.8.1", features = ["server", "http1"] }
hyper-util = { version = "0.1.18", features = ["tokio"] }
image = "0.25.8"
inputtino = { version = "0.1.0", git = "https://github.com/games-on-whales/inputtino" }
network-interface = "2.0.3"
notify-rust = "4.11.7"
open = "5.3.2"
openssl = "0.10.75"
opus = "0.3.0"
pulse = { version = "2.30", package = "libpulse-binding" }
pulse-simple = { version = "2.29", package = "libpulse-simple-binding" }
reed-solomon-erasure = { version = "6.0.0", features = ["simd-accel"] }
rtsp-types = "0.1.3"
rusty_enet = "0.4.0"
sdp-types = "0.1.8"
serde = "1.0.228"
shellexpand = "3.1.1"
strum_macros = "0.27.2"
tokio = { version = "1.48.0", features = ["rt-multi-thread", "macros", "net", "io-util", "signal", "tracing"] }
tokio-openssl = "0.6.5"
toml = "0.9.8"
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.20", features = ["env-filter"] }
url = "2.5.7"
uuid = { version = "1.18.1", features = ["v4"] }
walkdir = "2.5.0"
zeroconf = "0.15.1"

[patch.crates-io]
reed-solomon-erasure = { version = "6.0.0", git = "https://github.com/hgaiser/reed-solomon-erasure", branch = "moonshine" }
