name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest

    container:
      image: archlinux:base-devel

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo pacman -Syyuu --noconfirm --needed \
          avahi \
          clang \
          cmake \
          gcc-libs \
          glib2 \
          glibc \
          jq \
          libc++ \
          libevdev \
          libpipewire \
          libpulse \
          opus \
          rust \
          shaderc

    - name: Build
      run: |
        source /etc/profile
        cargo build --verbose
      shell: bash

    - name: Run tests
      run: |
        source /etc/profile
        cargo test --verbose
      shell: bash

    - name: Machete
      uses: bnjbvr/cargo-machete@main
